/*general*/
body
{
    font-family: 'Open Sans', sans-serif;
    color: #a5a2a0;
    font-size: x-large
}

.wrapper
{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows:repeat(20, 5%);
    grid-gap: 20px 20px;
    padding: 10px;
    padding-bottom: 10px;
}

header
{
    grid-column: 3/7;
    grid-row: 1/6;
    padding: 20px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    box-shadow: 1px 6px 6px 1px #dddddd;
}

section
{
    grid-column: 3/7;
    grid-row: 6/8;
    padding: 20px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    box-shadow: 1px 6px 6px 1px #dddddd;
}

.bottom
{
    grid-column: 3/7;
    grid-row: 8/19;
    padding: 20px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 6px 6px 1px #dddddd;
}

body
{
    background-color: #ebebeb;
}
/*top style*/

header img
{
    border-radius: 50%;
    border: 4px solid #bab3ad;
    width: 25%;
    height: auto;
}

header h1
{
    color: #dd5555;
}

.button 
{
    background-color: #dd5555;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    margin: 4px 2px;
    cursor: pointer;
    width: 180px;
    height: 35px;
  }

  header p
  {
      text-align: justify;
  }

 /*Middle style*/
 li 
 {
    display:inline-block;
    padding: 20px 40px;
 }

 section a:link
 {
     color:#a5a2a0 ;
     text-decoration: none;
 }

 /* bottom styling*/

 .bottom h2
 {
     text-align: center;
 }

.his
{
    background-color: lightgrey;
}

.bottomimgtxt
{
    align-content: center;
}

.bottomimgtxt img
{
    float: left;
    margin-right: 20px;
}
.space
{
    margin-bottom: 250px;
    margin-top: 100px;
}
.hulot
{
    margin-bottom: 250px;
}
.alien
{
    margin-bottom: 150px;
}
.bottomimgtxt h3
{
    text-align: center;
}